body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
}

#main {
	height: 600px;
	/*background: red;*/
}

footer {
	background: #eee;
	height: 70px;
	text-align: center;
	padding: 16px;
}

footer p {
	font-size: 13px;
	color: #555;
}